{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block javascripts %}
     {{  parent() }}

    {# {{ encore_entry_script_tags('main') }}  #}
    {{ encore_entry_script_tags('mainPage') }}

    {% if is_granted("ROLE_USER") %}
        <script>
            window.username = '{{ app.user.username|e('js') }}';
        </script>
    {%  endif %}



{% endblock %}

{% block stylesheets %}
     {{ encore_entry_link_tags('mainPage') }}
{% endblock %}

{% block body %}
 {{ parent() }}

    <div id="usersContentWrapper">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Username
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item sortByUsername" href="{{ path('sort_by_value', {'order':'ASC', 'value':'username'} ) }}">A-Z</a>
                            <a class="dropdown-item sortByUsername" href="{{ path('sort_by_value', {'order':'DESC', 'value':'username'} ) }}">Z-A</a>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            First name
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item sortByUsername" href="{{ path('sort_by_value', {'order':'ASC', 'value':'firstname'} ) }}">A-Z</a>
                            <a class="dropdown-item sortByUsername" href="{{ path('sort_by_value', {'order':'DESC', 'value':'firstname'} ) }}">Z-A</a>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Last name
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item sortByUsername" href="{{ path('sort_by_value', {'order':'ASC', 'value':'lastname'} ) }}">A-Z</a>
                            <a class="dropdown-item sortByUsername" href="{{ path('sort_by_value', {'order':'DESC', 'value':'lastname'} ) }}">Z-A</a>
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            email
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item sortByUsername" href="{{ path('sort_by_value', {'order':'ASC', 'value':'email'} ) }}">A-Z</a>
                            <a class="dropdown-item sortByUsername" href="{{ path('sort_by_value', {'order':'DESC', 'value':'email'} ) }}">Z-A</a>
                        </div>
                    </div>
                </th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>

            <!--<th scope="row">1</th>-->
            {%  for user in users %}
        <tr>
            <td>{{  user.id  }}</td>
            <td>{{  user.username  }}</td>
            <td>{{  user.firstname  }}</td>
            <td>{{  user.lastname  }}</td>
            <td>{{  user.email  }}</td>
            <td ><a class="deleteUser" href="{{ path('delete_user', {'id': user.id} ) }}" >X</a></td>
        </tr>

            {% endfor %}

        </tbody>
    </table>


    </div>

{% endblock %}
