{% extends 'base.html.twig' %}
{% block title %}Hello MainPageController!{% endblock %}
{% block head %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>mainPage</title>
    </head>
{% endblock %}

{% block javascripts %}
    {{  parent() }}


    {{ encore_entry_script_tags('sharedPhotos') }}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% if is_granted("ROLE_USER") %}
        <script>
            window.username = '{{ app.user.username|e('js') }}';
        </script>

    {%  endif %}

{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('mainPage') }}

{% endblock %}

{% block body %}
    {{ parent() }}
    {{  include('image/fullscreen.html.twig') }}
    <div id="content-shared">
        <div id="photoListShared"></div>
    </div>


{% endblock %}